<!--
<form [formGroup]="formularioNuevaExperiencia" (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <div class="form-row  marco-alta m-5">
        <div class="col-auto">
            <div class="titulo-principal">
                <h2>Alta nueva Experiencia</h2>
            </div>
            <label for="empresa"><b>Empresa</b></label>
            <input type="text" class="form-control" id="empresa" name="empresa" formControlName="empresa" [(ngModel)]="empresa" required>
            <span *ngIf="formularioNuevaExperiencia.get('empresa')?.errors?.['required']">
                (El nombre de la Empresa no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioNuevaExperiencia.get('empresa')?.errors?.['minlength']">
                (El nombre de la Empresa debe tener como mínimo 5 caracteres)
            </span>
            <br>

            <label for="periodo"><b>Período</b></label>
            <input type="text" class="form-control periodo" id="periodo" name="periodo" formControlName="periodo" [(ngModel)]="periodo" required>
            <span *ngIf="formularioNuevaExperiencia.get('periodo')?.errors?.['required']">
                (El Período no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioNuevaExperiencia.get('periodo')?.errors?.['minlength']">
                (El Período debe tener como mínimo 5 caracteres)
            </span>
            <br>

            <label for="tarea"><b>Tarea</b></label>
            <input type="text" class="form-control" id="tarea" name="tarea" formControlName="tarea" [(ngModel)]="tarea" required>
            <span *ngIf="formularioNuevaExperiencia.get('tarea')?.errors?.['required']">
                (La Tarea no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioNuevaExperiencia.get('tarea')?.errors?.['minlength']">
                (La Tarea debe tener como mínimo 10 caracteres)
            </span>
            <br>

            <label for="logo"><b>Logo</b></label>
            <input type="text" class="form-control" id="logo" name="logo" [(ngModel)]="logo" required>
            <br>
            <div class="titulo-principal">
                <button class="btn btn-primary">Agregar Experiencia</button>
            </div>
            <div>{{resultado}}</div>
        </div>
    </div>
</form>
-->

<form [formGroup]="formularioNuevaExperiencia" (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <div class="form-row  marco-alta m-5">
        <div class="col-auto">
            <div class="titulo-principal">
                <h2>Alta nueva Experiencia</h2>
            </div>
            <label for="empresa"><b>Empresa</b></label>
            <input type="text" class="form-control" id="empresa" name="empresa" formControlName="empresa" [(ngModel)]="empresa" required>
            <span *ngIf="formularioNuevaExperiencia.get('empresa')?.errors?.['required']">
                (El nombre de la Empresa no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioNuevaExperiencia.get('empresa')?.errors?.['minlength']">
                (El nombre de la Empresa debe tener como mínimo 5 caracteres)
            </span>
            <br>

            <label for="periodo"><b>Período</b></label>
            <input type="text" class="form-control periodo" id="periodo" name="periodo" formControlName="periodo" [(ngModel)]="periodo" required>
            <span *ngIf="formularioNuevaExperiencia.get('periodo')?.errors?.['required']">
                (El Período no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioNuevaExperiencia.get('periodo')?.errors?.['minlength']">
                (El Período debe tener como mínimo 5 caracteres)
            </span>
            <br>

            <label for="tarea"><b>Tarea</b></label>
            <textarea rows="3" type="text" class="form-control" id="tarea" name="tarea" formControlName="tarea" [(ngModel)]="tarea" required></textarea>
            <span *ngIf="formularioNuevaExperiencia.get('tarea')?.errors?.['required']">
                (La Tarea no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioNuevaExperiencia.get('tarea')?.errors?.['minlength']">
                (La Tarea debe tener como mínimo 10 caracteres)
            </span>
            <br>

            <label for="logo"><b>Logo</b></label>
            <!--
            <input type="text" class="form-control" id="logo" name="logo" [(ngModel)]="logo" required>
            -->
            <br>
            <input type="file" class="form-control" id="logo" name="logo" [(ngModel)]="logo" required
                (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
            <div class="imagen">
                <br>
                <img [src]="imageService.url" width="50px">
            </div>
            <br>

            <div class="titulo-principal">
                <button class="btn btn-primary">Agregar Experiencia</button>
            </div>
            <div>{{resultado}}</div>
        </div>
    </div>
</form>