.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.form-control {
  width: 100%;
}

.anio {
  width: 12%;
}

.marco-alta {
  box-shadow: 0 3px 3px rgb(0 0 0 / 50%);
  /*Marcos del div*/
  background-color: #DFE9E8;
  /* color dentro del div*/
  padding: 2%;
  /*margenes internos en el div*/
  height: 590px;
  /*ancho del div*/
  width: 800px;
  /*alto del div*/
  position: absolute;
  /*necesario para que top y left funcionen */
  top: 0%;
  /*margen superior al div*/
  left: 2%;
  /*margen izquierdo al div*/
}

.titulo-principal {
  color: blue;
  /* color del texto */
  text-align: center;
  /* alineacion del texto */
}